*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: #2f363e;
}
.box{
    position: relative;
    width: 450px;
    height: 550px;
    border-radius: 30px;
    padding: 20px 50px;
    background: #2f363e;
    box-shadow: 13px 20px 20px 10px rgba(0,0,0,0.25) ;
    box-shadow: -10px -18px 20px 10px rgba(0,0,0,0.25),
    inset 5px 5px 10px rgba(0,0,0,0.5),
    inset 5px 5px 20px rgba(25,25,25,0.2) ,
    inset -5px -5px 15px rgba(0,0,0,0.5)  ;
     overflow-y: scroll;
}
::-webkit-scrollbar-track{
    box-shadow: inset0 0 15px rgba(0,0,0,0.5);
 }
 ::-webkit-scrollbar{
    width: 1px;
 } 
 ::-webkit-scrollbar-thumb{
    background: white;
 }

.box h2{
    font-size: 2.4vw;
    font-weight: 100;
    color: white;
    text-align: center;
    padding: 30px 0;
}
#item{
    font-size: 1vw;
    position: relative;
    border: none;
    outline: none;
    width: 100%;
    padding: 18px 20px;
    border-radius: 30px;
    box-shadow: 5px 5px 7px rgba(0,0,0,0.25),
    /* -10px -10px 10px 10px rgba(0,0,0,0.25), */
    inset 2px 2px 5px rgba(0,0,0,0.5), 
    inset -3px -3px 5px rgba(0,0,0,0.5);
}
 #to-do-box li{
    font-size: 1.3vw;
    font-weight: 300;
    padding: 10px 10px;
    margin-top: 15px;
    border-radius: 30px;
    background: white;
    box-shadow: 5px 5px 7px rgba(0,0,0,0.25),
    /* -10px -10px 10px 10px rgba(0,0,0,0.25), */
    inset 2px 2px 5px rgba(0,0,0,0.5), 
    inset -3px -3px 5px rgba(0,0,0,0.5);
    outline: none;
    list-style: none;
 }
 #to-do-box li i{
    position: absolute;
    right: 85px;
 }
 .done{
    text-decoration: line-through;
    color: black;
    background-color: rgb(194, 154, 154) !important;
 }